@keyframes startup{
        0% {
          transform: translateY(100vh);
        }
        100% {
          transform: translateY(0);
        }
      }

.container {
  position: relative;
  width: 60vw;
  height: 20vh;
}

div.title {
   position: relative;
   font-family: League Gothic, sans-serif;
   font-size: 12vw;
   font-weight: bold;
   line-height: 0.90;
   top: 20%;
  left: 0;
   animation-name: startup;
   animation-duration: 0.70s;
   animation-timing-function: ease-out;
}

div.asterisk {
  position: absolute;
  font-size: 30vw;
  font-weight: bolder;
  font-family: sans-serif;
  top: 0;
  right: 0;
  animation-name: startup;
  animation-duration: 0.70s;
  animation-delay: 0.1s;
} 

