 div.title {
   position: relative;
   font-family: sans-serif;
   font-size: 45pt;
   font-weight: bolder;
   letter-spacing: -5px;
   line-height: 70pt;
   top: 5vh;
   animation-name: startup;
   animation-duration: 0.70s;
   animation-timing-function: ease-out;
}

div.asterisk {
  position: absolute;
  font-size: 120pt;
  font-weight: bolder;
  font-family: sans-serif;
  top: 0;
  left: 60vw;
  animation-name: startup;
  animation-duration: 0.70s;
  animation-delay: 0.1s;
} 